USE [master]
GO
/****** Object:  Database [NegoShoeInventory]    Script Date: 12/04/2017 4:34:19 PM ******/
CREATE DATABASE [NegoShoeInventory]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NegoShoeInventory', FILENAME = N'c:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQL2012\MSSQL\DATA\NegoShoeInventory.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'NegoShoeInventory_log', FILENAME = N'c:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQL2012\MSSQL\DATA\NegoShoeInventory_log.ldf' , SIZE = 2560KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NegoShoeInventory].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NegoShoeInventory]
GO
/****** Object:  Table [dbo].[ItemBrand]    Script Date: 12/04/2017 4:34:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemBrand](
	[RecordID] [int] IDENTITY(1,1) NOT NULL,
	[Brand] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Brand] PRIMARY KEY CLUSTERED 
(
	[RecordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Items]    Script Date: 12/04/2017 4:34:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[RecordID] [int] IDENTITY(1,1) NOT NULL,
	[ItemName] [nvarchar](150) NOT NULL,
	[Brand] [int] NOT NULL,
	[ProductType] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[TotalQuantity] [int] NOT NULL,
	[OfficeQuantity] [int] NOT NULL,
	[HouseQuantity] [int] NOT NULL,
	[Filename] [nvarchar](50) NULL,
	[ImageBase64] [nvarchar](max) NULL,
	[Remarks] [nvarchar](500) NULL,
 CONSTRAINT [PK_Items] PRIMARY KEY CLUSTERED 
(
	[RecordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ItemType]    Script Date: 12/04/2017 4:34:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemType](
	[RecordID] [int] IDENTITY(1,1) NOT NULL,
	[ProductType] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_ProductType] PRIMARY KEY CLUSTERED 
(
	[RecordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
