<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="NegoShoePH.Data.Properties.Settings.PROD" connectionString="Server=9371b71c-443a-4444-9f49-a75500a2e577.sqlserver.sequelizer.com;Database=db9371b71c443a44449f49a75500a2e577;User ID=ioezfutfffsfzpvz;Password=aLUDjCdotDvTN7kmHjyNJuAVchzJ6sHaoNtHHJJZE6KPzbEocGMUnkuMk8AbdAqb;MultipleActiveResultSets=True;"
      providerName="System.Data.SqlClient" />
    <add name="NegoShoePH.Data.Properties.Settings.DEV" connectionString="Data Source=.\SQL2012;Initial Catalog=NegoShoeInventory;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="NegoShoePH.Data.Properties.Settings.DEVLAGUNA"
      connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=NegoShoeInventory;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>